// text appendices are more readable
// this way.
.text_appendices tr:nth-child(-n+4) {
	text-align: center;
}

.text_appendices tr:nth-child(n+6) {
	display: block;
	border-collapse: collapse;
	border: 0.1pt solid #CCC
}

ul.treeview-menu.menu-open {
  padding-bottom: 10px;
}

.sidebar-menu a.btn {
	margin-left: 20px;
}

.question_description tr:nth-child(n+3) {
  font-weight: bold;
}

#quit {
  position:fixed;
  bottom:0;
  left:0;
  margin-left: 20px;
  margin-bottom: 10px;
}  
