/* text appendices are more readable
 * this way. */
.text_appendices tr:nth-child(-n+4) {
	text-align: center;
}

/* format the question_description of 
 * the text appendices to have a bolded
 * header */
.question_description tr:nth-child(n+3) {
  font-weight: bold;
}

/* style the sidebar to have 
 * uniform padding */ 
ul.treeview-menu.menu-open {
  padding-bottom: 10px;
}

.sidebar-menu a.btn {
	margin-left: 20px;
}

/* style the quit button to stay 
 * at the bottom of the window */ 
#quit {
  position:fixed;
  bottom:0;
  left:0;
  margin-left: 20px;
  margin-bottom: 10px;
}  

/* styling for the sidebar text describing 
 * the Insights? button */
.sidebar-text {
  white-space:normal!important;
  padding-left:12px;
  padding-right:12px;
}
